<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a dictionary named 'europe_dict' which has names of countries in europe, their capital and their population. 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
  <tr>
  <th>Country </th>
  <th>Capital</th>
  <th>Population</th>    
  </tr>
  <tr>
  <td>Spain</td>
  <td>Madrid</td>
  <td>46.77</td>    
  </tr>
  <tr>
  <td>France</td>
  <td>Paris</td>
  <td>66.03</td> 
  </tr>
  <tr>
  <td>Germany</td>
  <td>Berlin</td>
  <td>80.62</td> 
  </tr>
  <tr>
  <td>Norway</td>
  <td>Oslo</td>
  <td>5.084 </td> 
</tr>
</table>

In [1]:
# type your code here
# Create the dictionary
europe_dict = {
    'Spain': {
        'Capital': 'Madrid',
        'Population': 46.77
    },
    'France': {
        'Capital': 'Paris',
        'Population': 66.03
    },
    'Germany': {
        'Capital': 'Berlin',
        'Population': 80.62
    },
    'Norway': {
        'Capital': 'Oslo',
        'Population': 5.084
    }
}

# Display the dictionary
print(europe_dict)

{'Spain': {'Capital': 'Madrid', 'Population': 46.77}, 'France': {'Capital': 'Paris', 'Population': 66.03}, 'Germany': {'Capital': 'Berlin', 'Population': 80.62}, 'Norway': {'Capital': 'Oslo', 'Population': 5.084}}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. For the DataFrame created in question 1, add a new column 'FamousFor'. The column tells what each country is famous for. Refer the sample output.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
  <tr>
  <th>Country </th>
  <th>FamousFor</th>   
  </tr>
  <tr>
  <td>Spain</td>
  <td>Football</td>  
  </tr>
  <tr>
  <td>France</td>
  <td>Eiffel Tower</td>
  </tr>
  <tr>
  <td>Germany</td>
  <td>Cars</td>
  </tr>
  <tr>
  <td>Norway</td>
  <td>Midnight sun</td>
</tr>
</table>

In [2]:
# type your code here
import pandas as pd

# Create the dictionary
europe_dict = {
    'Spain': {
        'Capital': 'Madrid',
        'Population': 46.77
    },
    'France': {
        'Capital': 'Paris',
        'Population': 66.03
    },
    'Germany': {
        'Capital': 'Berlin',
        'Population': 80.62
    },
    'Norway': {
        'Capital': 'Oslo',
        'Population': 5.084
    }
}

# Convert the dictionary to a DataFrame
df = pd.DataFrame.from_dict(europe_dict, orient='index').reset_index()
df.rename(columns={'index': 'Country'}, inplace=True)

# Step 2: Add the new column 'FamousFor'
famous_for = {
    'Spain': 'Football',
    'France': 'Eiffel Tower',
    'Germany': 'Cars',
    'Norway': 'Midnight sun'
}

# Map the famous_for values to the DataFrame
df['FamousFor'] = df['Country'].map(famous_for)

# Display the updated DataFrame
print(df)

   Country Capital  Population     FamousFor
0    Spain  Madrid      46.770      Football
1   France   Paris      66.030  Eiffel Tower
2  Germany  Berlin      80.620          Cars
3   Norway    Oslo       5.084  Midnight sun

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 3. Use the data created in question 1, to do the following:
                          <ol type = '1'>
                              <li>  Access column 'Captial' by specifying the column number. </li>
                              <li>  Access column 'Population' by specifying the column name.
                              <li>  Access a country information </li>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
import pandas as pd

# Create the dictionary
europe_dict = {
    'Spain': {
        'Capital': 'Madrid',
        'Population': 46.77
    },
    'France': {
        'Capital': 'Paris',
        'Population': 66.03
    },
    'Germany': {
        'Capital': 'Berlin',
        'Population': 80.62
    },
    'Norway': {
        'Capital': 'Oslo',
        'Population': 5.084
    }
}

# Convert the dictionary to a DataFrame
df = pd.DataFrame.from_dict(europe_dict, orient='index').reset_index()
df.rename(columns={'index': 'Country'}, inplace=True)

# Display the DataFrame
print(df)

   Country Capital  Population
0    Spain  Madrid      46.770
1   France   Paris      66.030
2  Germany  Berlin      80.620
3   Norway    Oslo       5.084

In [4]:
# 1. Access column 'Captial' by specifying the column number.

# type your code here
# Access 'Capital' column by column number (index 1)
capital_column = df.iloc[:, 1]
print("Capital Column:")
print(capital_column)

Capital Column:
0    Madrid
1     Paris
2    Berlin
3      Oslo
Name: Capital, dtype: object

In [5]:
# 2. Access column 'Population' by specifying the column name.

# type your code here
# Access 'Population' column by column name
population_column = df['Population']
print("\nPopulation Column:")
print(population_column)

Population Column:
0    46.770
1    66.030
2    80.620
3     5.084
Name: Population, dtype: float64

In [6]:
# 3. Access a country information

# type your code here   
# Access information for Spain
spain_info = df[df['Country'] == 'Spain']
print("\nSpain Information:")
print(spain_info)

Spain Information:
  Country Capital  Population
0   Spain  Madrid       46.77

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 4. Read a csv file "products.csv", print it and also check its dimensions
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
# read the file
import pandas as pd

# Specify the file path
file_path = r"H:\My Drive\NPV-FROM E DRIVE\NPV_DAY 2\NPV_Take_Home_Day2\Day 2\NPV-Day 2_TH Data Table_products.csv"

# Read the CSV file
df = pd.read_csv(file_path)

# Print the DataFrame
print("DataFrame Contents:")
print(df)

DataFrame Contents:
  Product ID  Cost Price  Selling Price
0       45SD          60            135
1       12PO          43            121
2       54PL          78            150
3       26PL          65            121
4       68HG          50            132
5       21ER         150            152
6       10FG         132            165
7       57HB         134            161
8       75VB         109            124
9      32HJH         121            152

In [8]:
# Check the dimensions
dimensions = df.shape
print("\nDimensions of the DataFrame (rows, columns):", dimensions)

# type your code here

Dimensions of the DataFrame (rows, columns): (10, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 5. Create a new column Profit, calculate the profit using selling price and the cost price.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here
# Print the DataFrame
print("DataFrame Contents:")
print(df)

# Check if 'Selling Price' and 'Cost Price' columns exist
if 'Selling Price' in df.columns and 'Cost Price' in df.columns:
    # Create a new column 'Profit'
    df['Profit'] = df['Selling Price'] - df['Cost Price']
    
    # Display the updated DataFrame
    print("\nUpdated DataFrame with Profit Column:")
    print(df)
else:
    print("The required columns 'Selling Price' and 'Cost Price' are not present in the DataFrame.")

DataFrame Contents:
  Product ID  Cost Price  Selling Price
0       45SD          60            135
1       12PO          43            121
2       54PL          78            150
3       26PL          65            121
4       68HG          50            132
5       21ER         150            152
6       10FG         132            165
7       57HB         134            161
8       75VB         109            124
9      32HJH         121            152

Updated DataFrame with Profit Column:
  Product ID  Cost Price  Selling Price  Profit
0       45SD          60            135      75
1       12PO          43            121      78
2       54PL          78            150      72
3       26PL          65            121      56
4       68HG          50            132      82
5       21ER         150            152       2
6       10FG         132            165      33
7       57HB         134            161      27
8       75VB         109            124      15
9      32HJH         121            152      31

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
## type your code here
import pandas as pd
import numpy as np  # For NaN value

# Create the Series
data = [4, 7, -5, 3, np.nan]  # Use np.nan for the NaN value
index = ['d', 'b', 'a', 'c', 'e']

# Create the Series
series = pd.Series(data, index=index)

# Display the Series
print(series)

d    4.0
b    7.0
a   -5.0
c    3.0
e    NaN
dtype: float64

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Using the series in question 6, find:
                        <ol type = '1'>
                            <li> the minimum of all values </li>
                            <li> the maximum of all values </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
import pandas as pd
import numpy as np  # For NaN value

# Create the Series
data = [4, 7, -5, 3, np.nan]  # Use np.nan for the NaN value
index = ['d', 'b', 'a', 'c', 'e']
series = pd.Series(data, index=index)

# Display the Series
print("Series:")
print(series)

# Find the minimum and maximum values
min_value = series.min()
max_value = series.max()

# Display the results
print("\nMinimum value:", min_value)
print("Maximum value:", max_value)

Series:
d    4.0
b    7.0
a   -5.0
c    3.0
e    NaN
dtype: float64

Minimum value: -5.0
Maximum value: 7.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 8. Using the series in question 6, sort:
                         <ol type = '1'>
                             <li>  the values in ascending order </li>
                             <li>  the values in decending order  </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
import pandas as pd
import numpy as np  # For NaN value

# Create the Series
data = [4, 7, -5, 3, np.nan]  # Use np.nan for the NaN value
index = ['d', 'b', 'a', 'c', 'e']
series = pd.Series(data, index=index)

# Display the Series
print("Original Series:")
print(series)

# Sort the values in ascending order
sorted_ascending = series.sort_values(ascending=True)
print("\nSorted in Ascending Order:")
print(sorted_ascending)

# Sort the values in descending order
sorted_descending = series.sort_values(ascending=False)
print("\nSorted in Descending Order:")
print(sorted_descending)

Original Series:
d    4.0
b    7.0
a   -5.0
c    3.0
e    NaN
dtype: float64

Sorted in Ascending Order:
a   -5.0
c    3.0
d    4.0
b    7.0
e    NaN
dtype: float64

Sorted in Descending Order:
b    7.0
d    4.0
c    3.0
a   -5.0
e    NaN
dtype: float64

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 9. Import dataset 'flights' from library seaborn. Print the first 10 rows and last 20 rows of the data set.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
# import the dataset

# type your code here
import seaborn as sns

# Load the flights dataset
flights = sns.load_dataset('flights')

# Print the first 10 rows
print("First 10 rows of the flights dataset:")
print(flights.head(10))

# Print the last 20 rows
print("\nLast 20 rows of the flights dataset:")
print(flights.tail(20))

First 10 rows of the flights dataset:
   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121
5  1949   Jun         135
6  1949   Jul         148
7  1949   Aug         148
8  1949   Sep         136
9  1949   Oct         119

Last 20 rows of the flights dataset:
     year month  passengers
124  1959   May         420
125  1959   Jun         472
126  1959   Jul         548
127  1959   Aug         559
128  1959   Sep         463
129  1959   Oct         407
130  1959   Nov         362
131  1959   Dec         405
132  1960   Jan         417
133  1960   Feb         391
134  1960   Mar         419
135  1960   Apr         461
136  1960   May         472
137  1960   Jun         535
138  1960   Jul         622
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Import dataset 'iris' from library seaborn. Check for datatypes of all variable.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
import seaborn as sns

# Load the iris dataset
iris = sns.load_dataset('iris')

# Check the data types of all variables
data_types = iris.dtypes

# Print the data types
print("Data Types of All Variables in the Iris Dataset:")
print(data_types)

Data Types of All Variables in the Iris Dataset:
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object