<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Inclass - Lab<br> (Day 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[Data Structures with Examples](#Data_Structures)**
2. **[Create and Manipulate the DataFrames](#create_manipulate)**
3. **[Sort](#sorting)**
4. **[Rank](#ranking)**

### Let's begin with some hands-on practice exercises

<a id='Data_Structures'></a>
## 1. Data Structures with Examples:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to create a dataframe from list of lists
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below nested list:**<br>

        data = [['Joy', 21], ['Mia', 15], ['Sam', 14]]

In [1]:
# type your code here
import pandas as pd

# Given nested list
data = [['Joy', 21], ['Mia', 15], ['Sam', 14]]

# Create DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])

# Display the DataFrame
print(df)

  Name  Age
0  Joy   21
1  Mia   15
2  Sam   14

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Extract the second word from the given string
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below string:**<br>
    
    sentence = 'Be confident and be yourself'

In [2]:
# type your code here
# Given string
sentence = 'Be confident and be yourself'

# Split the string into words
words = sentence.split()

# Extract the second word (index 1)
second_word = words[1]

# Print the second word
print(second_word)

confident

<a id='create_manipulate'></a>
## 2. Create and Manipulate the DataFrames:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Split the 'Name' column into two separate columns as First_Name and Last_Name </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**

<table>
<tr>
<th>Name</th>
<th>Salary</th>
</tr>
<tr>
<td>Emma Larter</td>
<td>3200</td>
</tr>
<tr>
<td>Mia Junior</td>
<td>4500</td>
</tr>
<tr>
<td>Sophia Depp</td>
<td>3600</td>
</tr>
<tr>
<td>James Smith</td>
<td>5596</td>
</tr>
   
</table>

In [3]:
# type your code here
import pandas as pd

# Create the DataFrame
data = {
    'Name': ['Emma Larter', 'Mia Junior', 'Sophia Depp', 'James Smith'],
    'Salary': [3200, 4500, 3600, 5596]
}
df = pd.DataFrame(data)

# Split the 'Name' column into two new columns
df[['First_Name', 'Last_Name']] = df['Name'].str.split(expand=True)

# Drop the original 'Name' column if no longer needed
df = df.drop(columns=['Name'])

# Display the updated DataFrame
print(df)

   Salary First_Name Last_Name
0    3200       Emma    Larter
1    4500        Mia    Junior
2    3600     Sophia      Depp
3    5596      James     Smith

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Select the rows from below dataframe where marks are less than 60 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**

<table>
<tr>
<th>Name</th>
<th>Marks</th>
</tr>
<tr>
<td>John</td>
<td>90</td>
</tr>
<tr>
<td>Robert</td>
<td>50</td>
</tr>
<tr>
<td>Jonny</td>
<td>89</td>
</tr>
<tr>
<td>Mia</td>
<td>55</td>
</tr>
   
</table>

In [4]:
# type your code here
import pandas as pd

# Create the DataFrame
data = {
    'Name': ['John', 'Robert', 'Jonny', 'Mia'],
    'Marks': [90, 50, 89, 55]
}
df = pd.DataFrame(data)

# Select rows where Marks are less than 60
low_marks_df = df[df['Marks'] < 60]

# Display the resulting DataFrame
print(low_marks_df)

     Name  Marks
1  Robert     50
3     Mia     55

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to select the rows where the sales are higher than 60000 for Mumbai </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [5]:
# type your code here
import pandas as pd

# Create the DataFrame
data = {
    'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],
    'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 
                 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Pune'],
    'Sales': [40000, 45000, 50000, 90000, 89000, 87000, 85000, 78000, 89000, 70000]
}
df = pd.DataFrame(data)

# Select rows where Sales are greater than 60000 for Mumbai
high_sales_mumbai = df[(df['Location'] == 'Mumbai') & (df['Sales'] > 60000)]

# Display the resulting DataFrame
print(high_sales_mumbai)

  Store Location  Sales
3     C   Mumbai  90000
8     C   Mumbai  89000

In [7]:
import pandas as pd

# Define the file path
file_path = r"H:\My Drive\NPV-FROM E DRIVE\NPV_DAY 2\NPV_Inclass_Day2-1\Day_2\df_store.csv"

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
print(df)

   Unnamed: 0 Store   Location  Sales
0           0     A     Mumbai  40000
1           1     B       Pune  45000
2           2     A  Hyderabad  56000
3           3     C     Mumbai  90000
4           4     D       Pune  89000
5           5     A      Delhi  87000
6           6     D  Hyderabad  85000
7           7     A       Pune  78000
8           8     C     Mumbai  89000
9           9     B       Pune  70000

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to select stores located in Hyderabad</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [8]:
# type your code here
# Drop the 'Unnamed: 0' column if it's not needed
df = df.drop(columns=['Unnamed: 0'])

# Select rows where the location is Hyderabad
hyderabad_stores = df[df['Location'] == 'Hyderabad']

# Display the resulting DataFrame
print(hyderabad_stores)

  Store   Location  Sales
2     A  Hyderabad  56000
6     D  Hyderabad  85000

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to replace the 'Store' column with the values A, B, C, and D with Store_A,  Store_B, Store_C and Store_D respectively </b>  
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [10]:


# Replace values in the 'Store' column
df['Store'] = df['Store'].replace({
    'A': 'Store_A',
    'B': 'Store_B',
    'C': 'Store_C',
    'D': 'Store_D'
})

# Display the updated DataFrame
print(df)

     Store   Location  Sales
0  Store_A     Mumbai  40000
1  Store_B       Pune  45000
2  Store_A  Hyderabad  56000
3  Store_C     Mumbai  90000
4  Store_D       Pune  89000
5  Store_A      Delhi  87000
6  Store_D  Hyderabad  85000
7  Store_A       Pune  78000
8  Store_C     Mumbai  89000
9  Store_B       Pune  70000

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Create a dataframe in pandas using the given list.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

        city = ['Delhi', 'Mumbai', 'Chennai', 'Kolkata']

In [11]:
# type your code here
import pandas as pd

# Given list of cities
city = ['Delhi', 'Mumbai', 'Chennai', 'Kolkata']

# Create the DataFrame
df = pd.DataFrame(city, columns=['City'])

# Display the DataFrame
print(df)

      City
0    Delhi
1   Mumbai
2  Chennai
3  Kolkata

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Save a given dataframe to a csv file
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [12]:
# type your code here
import pandas as pd

# Create the DataFrame
data = {
    'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],
    'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 
                 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Pune'],
    'Sales': [40000, 45000, 50000, 90000, 89000, 87000, 85000, 78000, 89000, 70000]
}

df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('store_data.csv', index=False)

print("DataFrame saved to 'store_data.csv'")

DataFrame saved to 'store_data.csv'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Find the maximum sales for each store
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [13]:
# type your code here
df = pd.DataFrame(data)

# Find the maximum sales for each store
max_sales = df.groupby('Store')['Sales'].max().reset_index()

# Display the result
print(max_sales)

  Store  Sales
0     A  87000
1     B  70000
2     C  90000
3     D  89000

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a program to select all columns, except the 'Location' from the given dataframe
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [14]:
# type your code here
df = pd.DataFrame(data)

# Select all columns except 'Location'
df_without_location = df.drop(columns=['Location'])

# Display the resulting DataFrame
print(df_without_location)

  Store  Sales
0     A  40000
1     B  45000
2     A  50000
3     C  90000
4     D  89000
5     A  87000
6     D  85000
7     A  78000
8     C  89000
9     B  70000

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a program to insert a given column at the second position in a dataframe
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**

<table>
<tr>
<th>Name</th>
<th>Age</th>
</tr>
<tr>
<td>Emma Larter</td>
<td>34</td>
</tr>
<tr>
<td>Mia Junior</td>
<td>59</td>
</tr>
<tr>
<td>Sophia Depp</td>
<td>32</td>
</tr>
<tr>
<td>James Smith</td>
<td>40</td>
</tr>
   
</table>

**Add the variable 'Salary' as second column**<br>
            
            Salary = [35000, 24000, 55000, 40000]

In [15]:
# type your code here
import pandas as pd

# Create the DataFrame
data = {
    'Name': ['Emma Larter', 'Mia Junior', 'Sophia Depp', 'James Smith'],
    'Age': [34, 59, 32, 40]
}
df = pd.DataFrame(data)

# Given Salary list
Salary = [35000, 24000, 55000, 40000]

# Insert the Salary column at the second position (index 1)
df.insert(1, 'Salary', Salary)

# Display the updated DataFrame
print(df)

          Name  Salary  Age
0  Emma Larter   35000   34
1   Mia Junior   24000   59
2  Sophia Depp   55000   32
3  James Smith   40000   40

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to get the third observation of the given dataframe
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**

<table>
<tr>
<th>Name</th>
<th>Age</th>
</tr>
<tr>
<td>Emma Larter</td>
<td>34</td>
</tr>
<tr>
<td>Mia Junior</td>
<td>59</td>
</tr>
<tr>
<td>Sophia Depp</td>
<td>32</td>
</tr>
<tr>
<td>James Smith</td>
<td>40</td>
</tr>
</table>

In [16]:
# type your code here
import pandas as pd

# Create the DataFrame
data = {
    'Name': ['Emma Larter', 'Mia Junior', 'Sophia Depp', 'James Smith'],
    'Age': [34, 59, 32, 40]
}
df = pd.DataFrame(data)

# Get the third observation (index 2)
third_observation = df.iloc[2]

# Display the third observation
print(third_observation)

Name    Sophia Depp
Age              32
Name: 2, dtype: object

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a program to create a dataframe from the provided lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the following lists to create your arrays:**
        
            columns = ["Science", "Maths", "English"]
            
            marks = [[55, 78, 88], [93, 63, 83],[94, 74, 64]]
            
**Hint:** Convert the list marks into an array

In [17]:
# type your code here
import pandas as pd

# Provided lists
columns = ["Science", "Maths", "English"]
marks = [[55, 78, 88], [93, 63, 83], [94, 74, 64]]

# Convert marks to a DataFrame
df = pd.DataFrame(marks, columns=columns)

# Display the DataFrame
print(df)

   Science  Maths  English
0       55     78       88
1       93     63       83
2       94     74       64

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a program to count total sales per store </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [21]:
import pandas as pd

# Create the DataFrame
data = {
    'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],
    'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 
                 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Pune'],
    'Sales': [40000, 45000, 50000, 90000, 89000, 87000, 85000, 78000, 89000, 70000]
}

df = pd.DataFrame(data)

# Count total sales per store
total_sales_per_store = df.groupby('Store')['Sales'].sum().reset_index()

# Rename the Sales column for clarity
total_sales_per_store.rename(columns={'Sales': 'Total_Sales'}, inplace=True)

# Display the result
print(total_sales_per_store)

  Store  Total_Sales
0     A       255000
1     B       115000
2     C       179000
3     D       174000

<a id='sorting'></a>
## 3. Sort

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to sort the dataframe by 'Sales' in ascending order
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [22]:
# type your code here
import pandas as pd

# Create the DataFrame
data = {
    'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],
    'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 
                 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Pune'],
    'Sales': [40000, 45000, 50000, 90000, 89000, 87000, 85000, 78000, 89000, 70000]
}

df = pd.DataFrame(data)

# Sort the DataFrame by 'Sales' in ascending order
sorted_df = df.sort_values(by='Sales', ascending=True)

# Display the sorted DataFrame
print(sorted_df)

  Store   Location  Sales
0     A     Mumbai  40000
1     B       Pune  45000
2     A  Hyderabad  50000
9     B       Pune  70000
7     A       Pune  78000
6     D  Hyderabad  85000
5     A      Delhi  87000
4     D       Pune  89000
8     C     Mumbai  89000
3     C     Mumbai  90000

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a program to sort the dataframe by 'Store' in ascending order and by 'Sales' in descending order with respect to store simultaneously
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [23]:
# type your code here
import pandas as pd

# Create the DataFrame
data = {
    'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],
    'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 
                 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Pune'],
    'Sales': [40000, 45000, 50000, 90000, 89000, 87000, 85000, 78000, 89000, 70000]
}

df = pd.DataFrame(data)

# Sort the DataFrame by 'Store' in ascending order and 'Sales' in descending order
sorted_df = df.sort_values(by=['Store', 'Sales'], ascending=[True, False])

# Display the sorted DataFrame
print(sorted_df)

  Store   Location  Sales
5     A      Delhi  87000
7     A       Pune  78000
2     A  Hyderabad  50000
0     A     Mumbai  40000
9     B       Pune  70000
1     B       Pune  45000
3     C     Mumbai  90000
8     C     Mumbai  89000
4     D       Pune  89000
6     D  Hyderabad  85000

<a id='ranking'></a>
## 4. Rank

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Create a column 'Rank_sales' which contains the rank of each store based on sales of the product in ascending order
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
   
<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>89000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>70000</td>
</tr>
   
</table>

In [24]:
# type your code here
import pandas as pd

# Create the DataFrame
data = {
    'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],
    'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 
                 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Pune'],
    'Sales': [40000, 45000, 50000, 90000, 89000, 87000, 85000, 78000, 89000, 70000]
}

df = pd.DataFrame(data)

# Calculate the rank based on sales in ascending order
df['Rank_sales'] = df['Sales'].rank(method='min', ascending=True)

# Display the updated DataFrame
print(df)

  Store   Location  Sales  Rank_sales
0     A     Mumbai  40000         1.0
1     B       Pune  45000         2.0
2     A  Hyderabad  50000         3.0
3     C     Mumbai  90000        10.0
4     D       Pune  89000         8.0
5     A      Delhi  87000         7.0
6     D  Hyderabad  85000         6.0
7     A       Pune  78000         5.0
8     C     Mumbai  89000         8.0
9     B       Pune  70000         4.0